[AutoLayout] {
  Display: Flex;
}

[Direction="Horizontal"] {
  Flex-direction: Row;
}

[Direction="Horizontal"] > [Width="Fit"] {
  Flex-grow: 0;
}

[Direction="Horizontal"] > [Width="Fill"] {
  Flex-grow: 1;
}

[Direction="Horizontal"] > [Height="Fit"] {
  Height: Fit-content;
}

[Direction="Horizontal"] > [Height="Fill"] {
  Height: -webkit-fill-available;
}

[Direction="Horizontal"][Packing="Space between"] {
  Justify-content: Space-between;
}

[Direction="Horizontal"][AlignX="Left"] {
  Justify-content: Start;
}

[Direction="Horizontal"][AlignX="Center"] {
  Justify-content: Center;
}

[Direction="Horizontal"][AlignX="End"] {
  Justify-content: End;
}

[Direction="Horizontal"][AlignY="Bottom"] {
  Align-items: Bottom;
}

[Direction="Horizontal"][AlignY="Baseline"] {
  Align-items: Baseline;
}

[Direction="Horizontal"][AlignY="Center"] {
  Align-items: Center;
}

[Direction="Horizontal"][AlignY="Top"] {
  Align-items: Top;
}

[Direction="Vertical"] {
  Flex-direction: Column;
}

[Direction="Vertical"] > [Width="Fit"] {
  Width: Fit-content;
}

[Direction="Vertical"] > [Width="Fill"] {
  Width: -webkit-fill-available;
}

[Direction="Vertical"] > [Height="Fit"] {
  Flex-grow: 0;
}

[Direction="Vertical"] > [Height="Fill"] {
  Flex-grow: 1;
}

[Direction="Vertical"][Packing="Space between"] {
  Align-items: Space-between;
}

[Direction="Vertical"][AlignX="Left"] {
  Align-items: Start;
}

[Direction="Vertical"][AlignX="Center"] {
  Align-items: Center;
}

[Direction="Vertical"][AlignX="End"] {
  Align-items: End;
}

[Direction="Vertical"][AlignY="Bottom"] {
  Justify-content: Bottom;
}

[Direction="Vertical"][AlignY="Baseline"] {
  Justify-content: Baseline;
}

[Direction="Vertical"][AlignY="Center"] {
  Justify-content: Center;
}

[Direction="Vertical"][AlignY="Top"] {
  Justify-content: Top;
}

.DropDown {
  Position: Absolute;
  Z-Index: 500 !important;
}

.DropDown .Template {
  Display: Flex;
  Display: Flex;
  Justify-content: Start;
  Display: Flex;
  Align-items: Start;
  Display: Flex;
  Flex-Direction: Row;
  Display: Flex;
  Align-content: Begin;
  Justify-content: Begin;
  Display: Flex;
  Flex-grow: 0;
  Display: Flex;
  Flex-grow: 0;
  Display: Flex;
  Flex-Direction: Column;
  Padding: 5px 0;
  Gap: 7.5px;
  Border-radius: 5px;
}

.DropDown .Template Button {
  Padding: 7.5px 10px;
  Justify-Content: Left;
}

.DropDown .Template Button:hover {
  Background-Color: Var(--Gray05);
}

.DropDown .Template Button Custom-Icon {
  Opacity: 70%;
}
