// @import '../../Basic/AutoLayout.scss';

// .DropDown
// {
// 	Position: Absolute;
// 	Z-Index: 500 !important;

// 	.Template
// 	{
// 		@include AutoLayout;
// 		@include Direction_Vertical;
// 		Padding: 5px 0;
// 		Gap: 7.5px;
// 		Border-radius: 5px;

// 		Button
// 		{
// 			Padding: 7.5px 10px;
// 			Justify-Content: Left;

// 			&:hover
// 			{
// 				Background-Color: Var(--Gray05);
// 			}

// 			Custom-Icon
// 			{
// 				Opacity: 70%;
// 			}
// 		}
// 	}
// }