:root
{
	// Color-scheme

	Color-scheme: Light;

	@media (Prefers-color-scheme: Dark)
	{
		Color-scheme: Dark;
	}



	// Text

	--Text: #000000;
	--Text-Inversed: #FFFFFF;

	@media (Prefers-color-scheme: Dark)
	{
		--Text: #FFFFFF;
		--Text-Inversed: #000000;
	}



	// Gray

	@for $i from 1 to 20
	{
		$Power: $i * 5;
		--Gray-#{$Power}: HSL(Var(--Gray-Hue), Var(--Gray-Saturation), #{100 - $Power}%);
	}

	@media (Prefers-color-scheme: Dark)
	{
		@for $i from 1 to 20
		{
			$Power: $i * 5;
			--Gray-#{$Power}: HSL(Var(--Gray-Hue), Var(--Gray-Saturation), #{$Power}%);
		}
	}



	// Background

	--Background-00: #FFFFFF;
	--Background-01: #FFFFFF;
	--Background-02: #FFFFFF;

	@media (Prefers-color-scheme: Dark)
	{
		--Background-00: HSL(Var(--Gray-Hue), Var(--Gray-Saturation), Calc(Var(--DarkThemeMultiplier) * 1));
		--Background-01: HSL(Var(--Gray-Hue), Var(--Gray-Saturation), Calc(Var(--DarkThemeMultiplier) + 5%));
		--Background-02: HSL(Var(--Gray-Hue), Var(--Gray-Saturation), Calc(Var(--DarkThemeMultiplier) + 10%));
	}



	// Main

	--Main: HSL(#{$Hue}, #{$Saturation}, #{$Lightness});
	--Main-UI: HSL(#{$Hue}, Calc(#{$Saturation} * 1.1), #{$Lightness});
	--Main-UI-Hover: HSL(#{$Hue}, Calc(#{$Saturation} * 1.1), Calc(#{$Lightness} * 0.75));
	--Main-UI-Transparent: HSLA(#{$Hue}, Calc(#{$Saturation} * 1.1), #{$Lightness}, 3.5%);
}