HR
{
	Margin: 0;
	Border: None;
	Border-Right: 1px Solid Var(--Gray-20);
	Border-Bottom: 1px Solid Var(--Gray-20);

	& > .Horizontal
	{
		Width: 100%;
		Height: 0;
	}

	& > .Vertical
	{
		Width: 0;
		Height: 100%;
	}
}