.IconedList
{
	Display: Grid;
	Gap: 10px;

	& > *
	{
		Display: Grid;
		Grid-template-columns: Auto 1fr;
		Gap: 15px;
		Align-items: Center;
	}

	& > :not(:focus-within) > Custom-icon
	{
		Opacity: 70%;
	}
}