.TitledSelect
{
	&:hover
	{
		Background-color: Var(--Main-UI-Transparent);
	}

	& > Span,
	& > Select
	{
		Font-size: 16px;
	}

	& > Span
	{
		Font-weight: 500;
		@include Ellipsis;
	}

	& > Select
	{
		Border: None;
	}
}