@import '../../Basic/Reset.scss';

Button.Floating
{
	--Scale: 56px;

	@include Reset_Button;
	Display: Flex;
	Align-items: Center;
	Justify-content: Center;
	Width: Var(--Scale);
	Height: Var(--Scale);
	Border-Radius: 50%;
	Position: Fixed;
	Right: Var(--Padding);
	Bottom: unquote("Calc(Var(--Padding) + Var(--PaddingBottom, 0px))");
	Transition: Background-Color 100ms;
	// @include Level-1;
		Z-Index: 1;
		Background-Color: Var(--Background-01);
		Box-Shadow: 0px 1px 2px 0px HSLA(0, 0%, 0%, 25%), 0px 1px 3px 1px HSLA(0, 0%, 0%, 10%);



	& > Custom-icon
	{
		--Scale: Calc(Var(--Scale) / 1.75);
	}

	&:hover
	{
		Background-Color: Var(--Gray-10);
	}

	@media (Min-Width: 700px)
	{
		--Padding: 50px;
	}

	@media not all and (Min-Width: 700px)
	{
		--Padding: 25px;
	}
}