@import '../../Basic/Text.scss';
@import '../../Basic/Reset.scss';

Button.Text
{
	@include Reset_Button;
}

A.Text
{
	@include Reset_A;
}

Button.Text,
A.Text
{
	// Colors

	&
	{
		&:not(.Fill)
		{
			----Text: Var(--Text);
			----Text-Hover: Var(--Text);
			----Background-Hover: Var(--Gray-5);
		}
	}

	&.Main
	{
		&:not(.Fill)
		{
			----Text: Var(--Main-UI);
			----Text-Hover: Var(--Main-UI-Hover);
			----Background-Hover: Var(--Main-UI-Transparent);
		}

		&.Fill
		{
			----Text: #FFFFFF;
			----Text-Hover: #FFFFFF;
			----Background: Var(--Main-UI);
			----Background-Hover: Var(--Main-UI-Hover);
		}
	}

	&.Gray
	{
		&:not(.Fill)
		{
			----Text: Var(--Gray-70);
			----Text-Hover: Var(--Text);
			----Background-Hover: Var(--Gray-5);
		}

		&.Fill
		{
			----Text: Var(--Text-Inversed);
			----Text-Hover: Var(--Text-Inversed);
			----Background: Var(--Gray-70);
			----Background-Hover: Var(--Gray-85);
		}
	}

	--Ripple-Color: Var(----Text);



	// Hover

	&:hover
	{
		@media (hover: hover)
		{
			----Text: Var(----Text-Hover) !important;

			&.Hover,
			&.Roomy,
			&.Outlined,
			&.Fill
			{
				----Background: Var(----Background-Hover) !important;
			}
		}
	}



	// Basic

	Width: Fit-content;
	Max-width: -webkit-fill-available;		// TO DO: Точно?
	Height: Fit-content;
	Background-color: Var(----Background);



	// Text

	&,
	&.Icon > Span
	{
		Font-size: 14px;
		Font-weight: 500;
		Font-family: Var(--Font-UI);
		Color: Var(----Text);
		@include Ellipsis;
	}



	// Transitions

	&.Hover
	{
		Transition: Color 25ms;
	}

	&.Outlined,
	&.Fill
	{
		Transition: Background-color 75ms;
	}




	// Padding

	&.Hover,
	&.Roomy,
	&.Fill,
	&.Outlined
	{
		Border-radius: Var(--Border-radius);
	}

	&.Hover
	{
		Padding: 3px 5px;
	}

	&.Roomy,
	&.Fill,
	&.Outlined
	{
		Padding: 10px 15px;
	}



	// Modifications

	&.Icon
	{
		Display: Inline-flex;
		Align-items: Center;		// TO DO

		Gap: 2.5px;

		&.Roomy,
		&.Fill,
		&.Outlined
		{
			Gap: 7.5px;
		}

		& > Custom-icon
		{
			--Color: Var(----Text);
			--Scale: 20px;
		}

		// & > SVG
		// {
		// 	Width: 20px;
		// 	Height: 20px;

		// 	*
		// 	{
		// 		Fill: Var(--Button-Text);
		// 	}
		// }
	}

	&.Outlined
	{
		Border: 1px Solid Var(----Background-Hover);
	}
}