.InputContainer
{
	Display: Inline-Flex;

	*
	{
		Font-family: Var(--Font-UI);
	}

	& > *
	{
		Border: None;
		Background: None;
		Width: 100%;
		Text-overflow: Ellipsis;
	}

	& > *:focus
	{
		Outline: None;
	}



	// Margin

	&:not(.Roomy) > *
	{
		Margin: 8px;
	}

	&:not(.Roomy).Round > *
	{
		Margin: 8px 14px;

		&[Type="Time"]
		{
			Margin: 8px 8px 8px 12px;
		}
	}

	&.Roomy > *
	{
		Margin: 14px;
	}

	&.Roomy.Round > *
	{
		Margin: 14px 20px;

		&[Type="Time"]
		{
			Margin: 14px 14px 14px 18px;
		}
	}



	// Round

	&:not(.Round)
	{
		Border-Radius: Var(--Border);
	}

	&.Round
	{
		Border-Radius: 50px;
	}



	// Outline

	&.Outlined
	{
		Transition: Border-color 50ms;

		&:not(.Main)
		{
			Border: 1px Solid Var(--Gray-15);

			&:Hover,
			&:Focus-Within
			{
				Border-color: Var(--Gray-35);
			}
		}

		// &.Main
		// {
		// 	Border: 1px Solid Var(--Main);

		// 	&:Hover,
		// 	&:Focus-Within
		// 	{
		// 		Border-color: Var(--Main-UI);
		// 	}
		// }
	}

	&:not(.Outlined)
	{
		Transition: Background-color 50ms;

		&:not(.Main)
		{
			&:Hover,
			&:Focus-Within
			{
				Background-Color: Var(--Gray-5);
			}
		}

		&.Main
		{
			&:Hover,
			&:Focus-Within
			{
				Background-Color: Var(--Main-UI-Transparent);
			}
		}
	}

	// &.Bold > *
	// {
	// 	Font-Weight: 500;
	// }



	&.Top
	{
		Border-Radius: 25px 25px Var(--Border) Var(--Border);
	}

	&.Right
	{
		Border-Radius: Var(--Border) 25px 25px Var(--Border);
	}

	&.Bottom
	{
		Border-Radius: Var(--Border) Var(--Border) 25px 25px;
	}

	&.Left
	{
		Border-Radius: 25px Var(--Border) Var(--Border) 25px;
	}



	& > Input[Type="Date"]
	{
		Margin: 7.5px 10px;
	}

	&.Roomy > Input[Type="Date"]
	{
		Margin: 14px 20px;
	}



	& > Input[Type="Datetime-Local"]
	{
		Margin: 5px 10px;
	}

	&.Roomy > Input[Type="Datetime-Local"]
	{
		Margin: 14px 20px;
	}
}