Code.Library
{
	Background-color: Var(--Gray-5);
	Border-radius: Var(--Border-radius);
	Direction: LTR;

	&, *
	{
		Font-family: Var(--Font-Monospace);
	}

	&.Block
	{
		Padding: 15px;
		Width: Fit-content;
		Max-width: unquote("Calc(100% - 30px)");
		White-space: Nowrap;
		Line-height: 150%;
		Overflow-x: Auto;
	}

	&.Inline
	{
		Padding: 5px;
	}
}