HR
{
	Margin: 0;
	Border: None;

	& > .Horizontal,
	[AutoLayout][Direction="Vertical"] > &
	{
		Width: 100%;
		Height: 0;
		Border-Bottom: 1px Solid Var(--Gray-20);
	}

	& > .Vertical,
	[AutoLayout][Direction="Horizontal"] > &
	{
		Width: 0;
		Height: 100%;
		Border-Right: 1px Solid Var(--Gray-20);
	}
}
