@mixin HR_Horizontal
{
	Width: 100%;
	Height: 0;
	Border-bottom: 1px Solid Var(--Gray-20);
}

@mixin HR_Vertical
{
	// Width: 0;
	// Height: 100%;
	Border-right: 1px Solid Var(--Gray-20);
}



HR
{
	Margin: 0;
	Border: None;

	[AutoLayout][Direction="Vertical"] > &
	{
		@include HR_Horizontal;
	}

	[AutoLayout][Direction="Horizontal"] > &
	{
		@include HR_Vertical;
	}
}