.InputContainer
{
	Display: Inline-Flex;
	Width: Fit-content;

	*
	{
		Font-family: Var(--Font-UI);
	}

	& > *
	{
		Border: None;
		Background: None;
		// Width: fit-content;
		Text-overflow: Ellipsis;
	}

	& > *:focus
	{
		Outline: None;
	}



	// Margin

	&:not(.Titled)
	{
		&:not(.Roomy) > *
		{
			Margin: 8px;
		}

		&:not(.Roomy).Round > *
		{
			Margin: 8px 14px;

			&[Type="Time"]
			{
				Margin: 8px 8px 8px 12px;
			}
		}

		&.Roomy > *
		{
			Margin: 14px;
		}

		&.Roomy.Round > *
		{
			Margin: 14px 20px;

			&[Type="Time"]
			{
				Margin: 14px 14px 14px 18px;
			}
		}



		& > Input[Type="Date"]
		{
			Margin: 7.5px 10px;
		}

		&.Roomy > Input[Type="Date"]
		{
			Margin: 14px 20px;
		}



		& > Input[Type="Datetime-Local"]
		{
			Margin: 5px 10px;
		}

		&.Roomy > Input[Type="Datetime-Local"]
		{
			Margin: 14px 20px;
		}
	}

	&.Titled
	{
		Display: Flex;
		Gap: 7.5px;

		&:not(.Roomy)
		{
			Padding: 8px;

			&.Titled
			{
				Padding: 8px 10px 8px 14px;
			}
		}

		&.Roomy
		{
			Padding: 14px;

			&.Titled
			{
				Padding: 14px 16px 14px 20px;
			}
		}
	}



	// Round

	&:not(.Round)
	{
		Border-Radius: Var(--Border-radius);
	}

	&.Round
	{
		Border-Radius: 50px;
	}



	// Outline

	&.Outlined
	{
		Transition: Border-color 50ms;

		&:not(.Main)
		{
			Border: 1px Solid Var(--Gray-15);

			&:Hover,
			&:Focus-Within
			{
				Border-color: Var(--Gray-35);
			}
		}
	}

	&:not(.Outlined)
	{
		Transition: Background-color 50ms;

		&:not(.Main)
		{
			&:Hover,
			&:Focus-Within
			{
				Background-Color: Var(--Gray-5);
			}
		}

		&.Main
		{
			&:Hover,
			&:Focus-Within
			{
				Background-Color: Var(--Main-UI-Transparent);
			}
		}
	}



	&.Top
	{
		Border-Radius: 25px 25px Var(--Border-radius) Var(--Border-radius);
	}

	&.Right
	{
		Border-Radius: Var(--Border-radius) 25px 25px Var(--Border-radius);
	}

	&.Bottom
	{
		Border-Radius: Var(--Border-radius) Var(--Border-radius) 25px 25px;
	}

	&.Left
	{
		Border-Radius: 25px Var(--Border-radius) Var(--Border-radius) 25px;
	}



	&.Titled
	{

		& > Span
		{
			Font-weight: 500;
			White-space: Nowrap;
		}

		& > :last-child
		{
			Border: None;
		}
	}
}

Input[Type="Color"].Library
{
	Padding: 0;
	Border: None;
	Width: 40px;
	Height: 40px;
	Clip-path: Circle(15px);
	Margin: -5px;
	Cursor: Pointer;
}

Input[Type="Range"].Library
{
	&
	{
		-webkit-appearance: None;
		height: 2.5px;
		Border-radius: 1.25px;
		background-color: Var(--Gray-20);
	}

	&::-webkit-slider-thumb
	{
		-webkit-appearance: None;
		Height: 20px;
		Width: 20px;
		Border-radius: 50%;
		Transform: Scale(0.85);
		Background: Var(--Gray-80);
		Transition: Transform 150ms;
		Cursor: ew-resize;

		&:hover
		{
			Transform: Scale(1.25);
		}
	}

	&::-webkit-slider-runnable-track
	{
		Margin: 0 -10px;
		// -webkit-appearance: none;
		// box-shadow: none;
		// border: none;
		// background: transparent;
	}
}