.DefaultInput
{
    border-radius: 5px;
    border: var(--Border);
    display: inline-flex;
}

.DefaultInput > *
{
    border: none;
    background: none;
    min-width: max-content;
    width: 100%;
}



.DefaultInput > *
{
    margin: 5px;
    text-overflow: ellipsis;
}

.DefaultInput > input[type="datetime-local"]
{
    margin: 5px 10px;
}

.DefaultInput.Roomy > *
{
    margin: 14px;
}

.DefaultInput.Roomy > input[type="datetime-local"]
{
    margin: 14px 20px;
}



.DefaultInput.Top
{
    border-radius: 25px 25px 5px 5px;
}

.DefaultInput.Right
{
    border-radius: 5px 25px 25px 5px;
}

.DefaultInput.Bottom
{
    border-radius: 5px 5px 25px 25px;
}

.DefaultInput.Left
{
    border-radius: 25px 5px 5px 25px;
}



.DefaultInput > *:focus
{
    outline: none;
}

.DefaultInput:hover,
.DefaultInput:focus-within
{
    border: var(--Border-Strong);
}