@import '../../../Basic/Reset.scss';

Custom-round-button
{
	--Scale: 24px;
	--Icon-Color: Var(--Gray-80);
	--Hover-Color: Var(--Icon-Color);
	--Hover-Icon-Color: Var(--Icon-Color);

	& > Button
	{
		@include Reset_Button;
		Position: Relative;

		& > Custom-icon
		{
			--Color: Var(--Icon-Color);
		}

		&:hover > Custom-icon
		{
			--Color: Var(--Hover-Icon-Color);
		}



		& > .Backlight,
		& > .Ripple
		{
			Position: Absolute;
			Top: 0;
			Clip-path: Circle(Calc(Var(--Scale) / 2));
			Width: Var(--Scale);
			Height: Var(--Scale);
			Background-color: Var(--Hover-Color);
		}



		& > .Backlight
		{
			Opacity: 0%;
			Transition: Opacity 50ms, Transform 300ms;
		}

		&:hover > .Backlight
		{
			Opacity: 5%;
			Transform: Scale(1.75);
		}



		& > .Ripple
		{
			Animation: CustomRoundButton_Ripple 750ms Linear;

			@keyframes CustomRoundButton_Ripple
			{
				0%		{ Opacity: 30%;	Transform: Scale(1);		}
				17.5%		{ Opacity: 15%;	Transform: Scale(1.75);		}
				50%		{ Opacity: 5%;						}
				100%		{ Opacity: 0%;	Transform: Scale(1.75);		}
			}
		}
	}
}