@import '../../../Basic/Text.scss';

Custom-checkbox
{
	--Color: Var(--Gray-85);

	&.Main
	{
		--Color: Var(--Main);
	}

	& > Label
	{
		Cursor: Pointer;

		& > Input[Type="Checkbox"]
		{
			Position: Absolute;
			Opacity: 0;

			&:checked + Div > Custom-icon[Icon="outlined/check_box_outline_blank"],
			&:not(:checked) + Div > Custom-icon[Icon="filled/check_box"]
			{
				Display: None;
			}

			&:focus-visible + Div
			{
				Outline: Auto;
			}
		}

		& > Div
		{
			Gap: 5px;

			& > .Label
			{
				Font-family: Var(--Font-UI);
				@include Ellipsis;

				&:empty
				{
					Display: None;
				}
			}



			& > .Backlight,
			& > .Ripple
			{
				Position: Absolute;
				Clip-path: Circle(9px);
				Width: 24px;
				Height: 24px;
				Background-color: Var(--Color);
				Opacity: 0%;
			}



			& > .Backlight
			{
				Transition: Opacity 50ms, Transform 300ms;
			}



			& > .Ripple
			{
				Animation: CustomCheckbox_Ripple 750ms Linear;

				@keyframes CustomCheckbox_Ripple
				{
					0%		{ Opacity: 12.5%;	Transform: Scale(1);	}
					17.5%		{ Opacity: 7.5%;	Transform: Scale(1.75);	}
					50%		{ Opacity: 1.5%;					}
					100%		{ Opacity: 0%;	Transform: Scale(1.75);	}
				}
			}
		}
	}

	&:Hover > Label > Div > .Backlight
	{
		Opacity: 5%;
		Transform: Scale(1.75);
	}
}
