@import '../../../Basic/Text.scss';

Custom-checkbox
{
	--Color: Var(Main);

	&.Main
	{
		--Color: Var(--Main);
	}

	& > Label
	{
		Cursor: Pointer;

		& > Input[Type="Checkbox"]
		{
			Position: Absolute;
			Width: 0;

			&:checked + Div > Custom-icon[Icon="check_box_outline_blank"],
			&:not(:checked) + Div > Custom-icon[Icon="check_box"]
			{
				Display: None;
			}

			&:focus-visible + Div
			{
				Outline: Auto;
			}
		}

		& > Div
		{
			Gap: 5px;

			& > Div
			{
				Font-family: Var(--Font-UI);
				@include Ellipsis;

				&:empty
				{
					Display: None;
				}
			}



			& > .Backlight,
			& > .Ripple
			{
				Position: Absolute;
				Clip-path: Circle(0);
				Width: 100%;
				Height: 100%;
				Background-color: Var(--Color);
			}

			& > .Backlight
			{
				Opacity: 0%;
				Transition: Opacity 50ms, Clip-Path 300ms;
			}

			& > .Ripple
			{
				Animation: Ripple_Button 750ms Linear;

				@keyframes Ripple_Button
				{
					0%		{ Opacity: 40%;	Clip-path: Circle(Calc(Var(----Radius) / 4));	}
					17.5%		{ Opacity: 25%;	Clip-path: Circle(Calc(Var(----Radius) / 2));	}
					50%		{ Opacity: 5%;									}
					100%		{ Opacity: 0%;	Clip-path: Circle(Calc(Var(----Radius) / 2));	}
				}
			}

			&:Hover > .Backlight
			{
				@media (hover: hover)
				{
					Opacity: 5%;
					Clip-path: Circle(Calc(Var(----Radius) / 2));
				}
			}
		}
	}
}
