@mixin Reset_A
{
	Text-decoration: None;
	Color: Inherit;
}

@mixin Reset_Button
{
	Padding: 0;
	Font-Size: 100%;
	Border: None;
	Background: None;
	Text-Align: Initial;
}

@mixin Reset_H
{
	Margin: 0;
	Font-weight: 400;
	Font-size: 16px;
}

@mixin Reset_P
{
	Margin: 0;
}

@mixin Reset_Blockquote
{
	Margin: 0;
}

@mixin Reset_UL
{
	Margin: 0;
}