.Header
{
	position: sticky;
	top: 0;

	Display: Grid;
	Grid-Auto-Flow: Column;
	Grid-Template-Columns: Auto 1fr Auto;

	Align-Items: Center;
	Justify-Content: Space-Between;

	Gap: 10px;
	Padding: 15px;
}



.Header > .Title
{
	Font-Size: 18px;
}

.Header > .Title.Center
{
	Text-Align: Center;
	Font-Weight: 500;
}



.Overlay.Window .Header > Custom-Round-Button
{
	--Scale: 28px;
}




.Overlay.Fullscreen > .Header
{
	Width: Calc(100% - 30px);
}

/* .Overlay.Fullscreen > .Header > Custom-Round-Button
{
	--Scale: 28px;
} */




/* TO DO: Нужно найти место получше */

.Overlay.Fullscreen.DefaultLayout
{
	Display: Grid;
	grid-template-rows: auto 1fr;
}