.Overlay.Window
{
	--Overlay-BackgroundOpacity: 35%;
	--Overlay-AppearanceSpeed: 150ms;
	--Overlay-Padding: 20px;
}

@media (Prefers-Color-Scheme: Dark)
{
	.Overlay.Window
	{
		--Overlay-BackgroundOpacity: 55%;
		--Overlay-AppearanceSpeed: 200ms;
	}
}



.Overlay.Window
{
	Position: Fixed;
}

.Overlay.Window > .Background
{
	Top: 0;
	Left: 0;
	Position: Absolute;
	Width: 100%;
	Height: 100%;
	Z-Index: 5;
	Background: #000000;
	Opacity: Var(--Overlay-BackgroundOpacity);
}

.Overlay.Window > .Background.Animation
{
	Animation: Overlay_Background Var(--Overlay-AppearanceSpeed);
}

@keyframes Overlay_Background
{
	0%   { Opacity: 0% }
	100% { Opacity: Var(--Overlay-BackgroundOpacity) }
}



.Overlay > .Content
{
	Z-Index: 6;
}