button.Floating
{
    --Scale: 56px;
    --Scale-Icon: calc(var(--Scale) * 2 / 3);

    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--Scale);
    height: var(--Scale);
    border-radius: 50%;
    position: fixed;
    right: var(--Padding);
    bottom: calc(var(--Padding) + var(--PaddingBottom, 0px));
    transition: background-color 100ms;
}

button.Floating > svg
{
    width: var(--Scale-Icon);
    height: var(--Scale-Icon);
}

button.Floating:hover
{
    background-color: var(--Gray02-5);
}

@media (min-width: 700px)
{
    button.Floating
    {
        --Padding: 50px;
    }
}

@media not all and (min-width: 700px)
{
    button.Floating
    {
        --Padding: 25px;
    }
}