button.Text
{
    font-weight: 500;
    font-size: 14px;
    padding: 3px 5px;
    border-radius: 5px;
    width: fit-content;
}



button.Text.Main
{
    color: var(--Main-UI);
}

button.Text.Main:hover
{
    background-color: var(--Main-UI-Transparent);
}



button.Text.Gray
{
    color: var(--Gray70);
}

button.Text.Gray:hover
{
    background-color: var(--Gray05);
}