Button.Floating {
  --Scale: 56px;
  --Scale-Icon: Calc(Var(--Scale) * 2 / 3);
  Padding: 0;
  Font-Size: 100%;
  Border: None;
  Background: None;
  Text-Align: Initial;
  Display: Flex;
  Display: Flex;
  Justify-content: Center;
  Display: Flex;
  Align-items: Center;
  Width: Var(--Scale);
  Height: Var(--Scale);
  Border-Radius: 50%;
  Position: Fixed;
  Right: Var(--Padding);
  Bottom: Calc(Var(--Padding)Var(--PaddingBottom, 0px));
  Transition: Background-Color 100ms;
}

Button.Floating SVG {
  Width: Var(--Scale-Icon);
  Height: Var(--Scale-Icon);
}

Button.Floating:hover {
  Background-Color: Var(--Gray-20);
}

@media (Min-Width: 700px) {
  Button.Floating {
    --Padding: 50px;
  }
}

@media not all and (Min-Width: 700px) {
  Button.Floating {
    --Padding: 25px;
  }
}
