@import '../../Basic/Text.scss';
@import '../../Basic/Reset.scss';

Button.Text
{
	@include Reset_Button;
}

A.Text
{
	@include Reset_A;
}

Button.Text,
A.Text
{
	--Button-Color: Var(--Text);
	--Button-Color-Background: Var(--Gray-5);

	&.Main
	{
		--Button-Color: Var(--Main-UI);
		--Button-Color-Background: Var(--Main-UI-Transparent);
	}

	&.Gray:not(:hover)
	{
		--Button-Color: Var(--Gray-70);
	}



	Width: Fit-content;
	Max-width: -webkit-fill-available;		// TO DO: Точно?
	Padding: 3px 5px;
	Border-radius: 5px;
	Transition: Color 25ms, Background-color 25ms;
	--Ripple-Color: Var(--Button-Color);
	@include Ellipsis;

	&.Roomy
	{
		Padding: 7.5px;
	}

	&:Hover
	{
		Background-color: Var(--Button-Color-Background);
	}

	&,
	&.Icon > Span
	{
		Font-size: 14px;
		Font-weight: 500;
		Font-family: Var(--Font-UI);
		Color: Var(--Button-Color);
	}

	&.Icon
	{
		Display: Inline-flex;
		Align-items: Center;
		Gap: 7.5px;

		& > Custom-icon
		{
			--Icon-Color: Var(--Button-Color);
			--Icon-Scale: 20px;
		}

		& > SVG
		{
			Width: 20px;
			Height: 20px;

			*
			{
				Fill: Var(--Button-Color);
			}
		}
	}

	&.Outlined
	{
		Border: 1px Solid Var(--Gray-20);

		&.Main
		{
			Border-color: HSLA(146, 70%, 30%, 25%);
		}
	}
}