[AutoLayout]
{
	Display: Flex;
}



[Direction="Horizontal"]
{
	Flex-direction: Row;



	& > [Width="Fit"]
	{
		Flex-grow: 0;
	}

	& > [Width="Fill"]
	{
		Flex-grow: 1;
	}

	& > [Height="Fit"]
	{
		Height: Fit-content;
	}

	& > [Height="Fill"]
	{
		Height: -webkit-fill-available;
	}



	&[Packing="Space between"]
	{
		Justify-content: Space-between;
	}



	&[AlignX="Left"]
	{
		Justify-content: Start;
	}

	&[AlignX="Center"]
	{
		Justify-content: Center;
	}

	&[AlignX="End"]
	{
		Justify-content: End;
	}

	&[AlignY="Bottom"]
	{
		Align-items: Bottom;
	}

	&[AlignY="Baseline"]
	{
		Align-items: Baseline;
	}

	&[AlignY="Center"]
	{
		Align-items: Center;
	}

	&[AlignY="Top"]
	{
		Align-items: Top;
	}
}

[Direction="Vertical"]
{
	Flex-direction: Column;



	& > [Width="Fit"]
	{
		Width: Fit-content;
	}

	& > [Width="Fill"]
	{
		Width: -webkit-fill-available;
	}

	& > [Height="Fit"]
	{
		Flex-grow: 0;
	}

	& > [Height="Fill"]
	{
		Flex-grow: 1;
	}



	&[Packing="Space between"]
	{
		Align-items: Space-between;
	}



	&[AlignX="Left"]
	{
		Align-items: Start;
	}

	&[AlignX="Center"]
	{
		Align-items: Center;
	}

	&[AlignX="End"]
	{
		Align-items: End;
	}

	&[AlignY="Bottom"]
	{
		Justify-content: Bottom;
	}

	&[AlignY="Baseline"]
	{
		Justify-content: Baseline;
	}

	&[AlignY="Center"]
	{
		Justify-content: Center;
	}

	&[AlignY="Top"]
	{
		Justify-content: Top;
	}
}