:root
{
	Color-Scheme: Light;

	--Text: #000000;
	--Text-Inversed: #FFFFFF;

	@for $i from 1 to 20
	{
		$Power: $i * 5;
		--Gray-#{$Power}: HSL(220, 10%, #{100 - $Power}%);
	}

	@media (Prefers-Color-Scheme: Dark)
	{
		Color-Scheme: Dark;

		--Text: #FFFFFF;
		--Text-Inversed: #000000;

		@for $i from 1 to 20
		{
			$Power: $i * 5;
			--Gray-#{$Power}: HSL(220, 10%, #{100 - $Power}%);
		}
	}




	$Hue: 145;
	$Saturation: 50%;
	$Lightness: 36%;

	--Main: HSL(#{$Hue}, #{$Saturation}, #{$Lightness});
	--Main-UI: HSL(#{$Hue}, #{$Saturation * 1.1}, #{$Lightness});
	--Main-UI-Hover: HSL(#{$Hue}, #{$Saturation * 1.1}, #{$Lightness * 0.75});
	--Main-UI-Transparent: HSLA(#{$Hue}, #{$Saturation * 1.1}, #{$Lightness}, 3.5%);
}