// :root
// {
// 	--Hue: 210;
// 	--Saturation: 80%;
// 	--Lightness: 50%;
// }

:root
{
	Color-Scheme: Light;

	--Text: #000000;
	--Text-Inversed: #FFFFFF;

	@for $i from 1 to 20
	{
		$Power: $i * 5;
		--Gray-#{$Power}: HSL(Var(--Gray-Hue), Var(--Gray-Saturation), #{100 - $Power}%);
	}

	--Background-00: #FFFFFF;
	--Background-01: #FFFFFF;
	--Background-02: #FFFFFF;

	@media (Prefers-Color-Scheme: Dark)
	{
		Color-Scheme: Dark;

		--Text: #FFFFFF;
		--Text-Inversed: #000000;

		@for $i from 1 to 20
		{
			$Power: $i * 5;
			--Gray-#{$Power}: HSL(Var(--Gray-Hue), Var(--Gray-Saturation), #{$Power}%);
		}

		--Background-00: Var(--Gray-5);
		--Background-01: Var(--Gray-10);
		--Background-02: Var(--Gray-15);
	}

	--Main: HSL(Var(--Hue), Var(--Saturation), Var(--Lightness));
	--Main-UI: HSL(Var(--Hue), Calc(Var(--Saturation) * 1.1), Var(--Lightness));
	--Main-UI-Hover: HSL(Var(--Hue), Calc(Var(--Saturation) * 1.1), Calc(Var(--Lightness) * 0.75));
	--Main-UI-Transparent: HSLA(Var(--Hue), Calc(Var(--Saturation) * 1.1), Var(--Lightness), 3.5%);
}