:root
{
	// Project-specific
	
	--Font-Title: 'Playfair Display';
	--Font-Text: 'Roboto';
	--Font-UI: system-ui;
	// --Font-Monospace: 'Space Mono', 'JetBrains Mono', Monospace;
}

*
{
	Font-Family: Var(--Font-Text);
}
