.Native ::-webkit-scrollbar
{
    width: 7.5px;
    height: 7.5px;
}

.Native ::-webkit-scrollbar-track
{
    border-radius: 5px;
}

.Native ::-webkit-scrollbar-thumb
{
    background: Lightgrey;
    border-radius: 5px;
}