.Center         /* ~Legacy */
{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}



.CenterX,
.CenterY
{
    display: flex;
}

.CenterX
{
    justify-content: center;
    justify-items: center;
}

.CenterY
{
    align-items: center;
    align-content: center;
}



.CenterText
{
    text-align: center;
}