[AutoLayout] {
  Display: Flex;
}

[Direction="Horizontal"] {
  Flex-direction: Row;
}

[Direction="Horizontal"] > [Width="Fit"] {
  Flex-grow: 0;
}

[Direction="Horizontal"] > [Width="Fill"] {
  Flex-grow: 1;
}

[Direction="Horizontal"] > [Height="Fit"] {
  Height: Fit-content;
}

[Direction="Horizontal"] > [Height="Fill"] {
  Height: -webkit-fill-available;
}

[Direction="Horizontal"][Packing="Space between"] {
  Justify-content: Space-between;
}

[Direction="Horizontal"][AlignX="Left"] {
  Justify-content: Start;
}

[Direction="Horizontal"][AlignX="Center"] {
  Justify-content: Center;
}

[Direction="Horizontal"][AlignX="End"] {
  Justify-content: End;
}

[Direction="Horizontal"][AlignY="Bottom"] {
  Align-items: Bottom;
}

[Direction="Horizontal"][AlignY="Baseline"] {
  Align-items: Baseline;
}

[Direction="Horizontal"][AlignY="Center"] {
  Align-items: Center;
}

[Direction="Horizontal"][AlignY="Top"] {
  Align-items: Top;
}

[Direction="Vertical"] {
  Flex-direction: Column;
}

[Direction="Vertical"] > [Width="Fit"] {
  Width: Fit-content;
}

[Direction="Vertical"] > [Width="Fill"] {
  Width: -webkit-fill-available;
}

[Direction="Vertical"] > [Height="Fit"] {
  Flex-grow: 0;
}

[Direction="Vertical"] > [Height="Fill"] {
  Flex-grow: 1;
}

[Direction="Vertical"][Packing="Space between"] {
  Align-items: Space-between;
}

[Direction="Vertical"][AlignX="Left"] {
  Align-items: Start;
}

[Direction="Vertical"][AlignX="Center"] {
  Align-items: Center;
}

[Direction="Vertical"][AlignX="End"] {
  Align-items: End;
}

[Direction="Vertical"][AlignY="Bottom"] {
  Justify-content: Bottom;
}

[Direction="Vertical"][AlignY="Baseline"] {
  Justify-content: Baseline;
}

[Direction="Vertical"][AlignY="Center"] {
  Justify-content: Center;
}

[Direction="Vertical"][AlignY="Top"] {
  Justify-content: Top;
}

Body {
  --Background00: #FFFFFF;
  --Background01: #FFFFFF;
}

@Media (Prefers-color-scheme: Dark) {
  Body {
    --Background00: HSL(225, 6%, 7.5%);
    --Background01: HSL(225, 6%, 12.5%);
  }
}

#Notifications {
  Position: Absolute;
  Top: 0;
  Right: 0;
  Z-Index: 10;
  Max-Height: Calc(100% - 10px * 2);
  /* SASS, really? */
  Padding: 10px;
  Overflow: Auto;
}

#Notifications .Notification {
  Z-Index: 2;
  Background-Color: Var(--Background01);
  Box-Shadow: 0 1px 3px HSLA(0, 0%, 0%, 25%), 0 4px 12px HSLA(0, 0%, 0%, 10%);
  Gap: 10px;
  Border-radius: 5px;
  Padding: 15px;
  Transition: Opacity 250ms, Height 250ms, Padding 250ms;
}

#Notifications .Notification:not(:last-child) {
  Margin-bottom: 10px;
}

#Notifications .Notification.Closing {
  Opacity: 0;
  Height: 0 !important;
  Padding: 0 15px;
  Margin: 0;
  Overflow: Hidden;
}

#Notifications .Notification Custom-Icon {
  --Scale: 36px;
}

#Notifications .Notification.Type-Good > Custom-Icon {
  --Color: Var(--Main-UI);
}

#Notifications .Notification.Type-Bad > Custom-Icon {
  --Color: Brown;
}

#Notifications .Notification Span {
  Max-Width: 190px;
  Max-Height: 400px;
}
