custom-round-button
{
    --Scale: 24px;
    --Radius: calc(var(--Scale) + 12px);

    --this-Scale: var(--Scale);     /* TO DO */

    --Icon-Color: var(--Gray70);
    --Hover-Color: var(--Gray70);
}



custom-round-button > button
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--Radius);
    height: var(--Radius);
    margin: -5px;
}





custom-round-button > button > Custom-Icon
{
    --Color: var(--Icon-Color);
    --Scale: var(--this-Scale);
    z-index: 1;
}



custom-round-button > button > .Backlight,
custom-round-button > button > .Ripple
{
    position: absolute;
    clip-path: circle(0);
    width: 100%;
    height: 100%;
    background-color: var(--Hover-Color);
}



custom-round-button > button > .Backlight
{
    opacity: 0%;
    transition: opacity 50ms, clip-path 300ms;
}

custom-round-button > button:hover > .Backlight
{
    opacity: 5%;
    clip-path: circle(calc(var(--Radius) / 2));
}



custom-round-button > button > .Ripple
{
    animation: Ripple_Button 750ms linear;
}

@keyframes Ripple_Button
{
    0%     { opacity: 40%;   clip-path: circle(calc(var(--Radius) / 4));  }
    17.5%  { opacity: 25%;   clip-path: circle(calc(var(--Radius) / 2));  }
    50%    { opacity: 5%;                                                   }
    100%   { opacity: 0%;    clip-path: circle(calc(var(--Radius) / 2));; }
}