Custom-Tabs > .Titles
{
	Display: Flex;
	Justify-Content: Space-Evenly;
}



Custom-Tabs > .Titles > .Selected
{
	Color: Var(--Main-UI);
}

Custom-Tabs > .Titles >  * > .Highlight
{
	Height: 3px;
	Content: ' ';
	Border-Radius: 5px 5px 0 0;
	Transition: Transform 250ms;
}

Custom-Tabs > .Titles >  .Selected > .Highlight
{
	Background-Color: Var(--Main-UI);
}

Custom-Tabs > .Titles >  :Not(.Selected) > .Highlight
{
	Background-Color: Var(--Gray-20);
	Transform: ScaleY(0.5);
}



Custom-Tabs > .Content > :Not(.Selected)
{
	Display: None;
}