*
{
    --Text: HSL(0, 0%, var(--Key));

    --Gray70: HSLA(0, 0%, var(--Key), 70%);
    --Gray20: HSLA(0, 0%, var(--Key), 20%);
    --Gray05: HSLA(0, 0%, var(--Key), 5%);
    --Gray02-5: HSLA(0, 0%, var(--Key), 2.5%);
}

body
{
    color-scheme: Light;
    --Key: 0%;
}

@media (prefers-color-scheme: dark) { body
{
    color-scheme: Dark;
    --Key: 100%;
} }