Body {
  Color-Scheme: Light;
  --Text: #000000;
  --Text-Inversed: #FFFFFF;
  --Gray-5: HSL(220, 10%, 95%);
  --Gray-10: HSL(220, 10%, 90%);
  --Gray-15: HSL(220, 10%, 85%);
  --Gray-20: HSL(220, 10%, 80%);
  --Gray-25: HSL(220, 10%, 75%);
  --Gray-30: HSL(220, 10%, 70%);
  --Gray-35: HSL(220, 10%, 65%);
  --Gray-40: HSL(220, 10%, 60%);
  --Gray-45: HSL(220, 10%, 55%);
  --Gray-50: HSL(220, 10%, 50%);
  --Gray-55: HSL(220, 10%, 45%);
  --Gray-60: HSL(220, 10%, 40%);
  --Gray-65: HSL(220, 10%, 35%);
  --Gray-70: HSL(220, 10%, 30%);
  --Gray-75: HSL(220, 10%, 25%);
  --Gray-80: HSL(220, 10%, 20%);
  --Gray-85: HSL(220, 10%, 15%);
  --Gray-90: HSL(220, 10%, 10%);
  --Gray-95: HSL(220, 10%, 5%);
}

@media (Prefers-Color-Scheme: Dark) {
  Body {
    Color-Scheme: Dark;
    --Text: #FFFFFF;
    --Text-Inversed: #000000;
    --Gray-5: HSL(220, 10%, 95%);
    --Gray-10: HSL(220, 10%, 90%);
    --Gray-15: HSL(220, 10%, 85%);
    --Gray-20: HSL(220, 10%, 80%);
    --Gray-25: HSL(220, 10%, 75%);
    --Gray-30: HSL(220, 10%, 70%);
    --Gray-35: HSL(220, 10%, 65%);
    --Gray-40: HSL(220, 10%, 60%);
    --Gray-45: HSL(220, 10%, 55%);
    --Gray-50: HSL(220, 10%, 50%);
    --Gray-55: HSL(220, 10%, 45%);
    --Gray-60: HSL(220, 10%, 40%);
    --Gray-65: HSL(220, 10%, 35%);
    --Gray-70: HSL(220, 10%, 30%);
    --Gray-75: HSL(220, 10%, 25%);
    --Gray-80: HSL(220, 10%, 20%);
    --Gray-85: HSL(220, 10%, 15%);
    --Gray-90: HSL(220, 10%, 10%);
    --Gray-95: HSL(220, 10%, 5%);
  }
}
