@import '../../Basic/Text.scss';

Custom-checkbox > Label
{
	& > Input[type="checkbox"]
	{
		Position: Absolute;
		Width: 0;

		&:checked + Div > Custom-icon[Icon="Checkbox-Unchecked"],
		&:not(:checked) + Div > Custom-icon[Icon="Checkbox-Checked"]
		{
			Display: None;
		}

		&:focus-visible + Div
		{
			Outline: Auto;
		}
	}

	& > Div
	{
		Gap: 5px;

		& > Custom-icon
		{
			--Icon-Scale: 20px;
			--Icon-Color: Var(--Gray-70);
		}

		& > Div
		{
			Font-family: Var(--Font-UI);
			Margin-bottom: -3.5px;		// TO DO: Мде
			@include Ellipsis;

			&:empty
			{
				Display: None;
			}
		}
	}
}