@import '../../Basic/Text.scss';

Custom-checkbox > Label
{
	Cursor: Pointer;

	& > Input[Type="Checkbox"]
	{
		Position: Absolute;
		Width: 0;

		// &:checked + Div > Custom-icon[Icon="check_box_outline_blank"],
		// &:not(:checked) + Div > Custom-icon[Icon="check_box"]
		// {
		// 	Display: None;
		// }

		&:focus-visible + Div
		{
			Outline: Auto;
		}
	}

	& > Div
	{
		Gap: 5px;

		& > Custom-round-button
		{
			&:active
			{
				Pointer-events: None;
			}

			--Button-Scale: 20px;
			--Hover-Color: Var(--Gray-70);
			--Icon-Color: Var(--Main);
		}

		& > Div
		{
			Font-family: Var(--Font-UI);
			@include Ellipsis;

			&:empty
			{
				Display: None;
			}
		}
	}
}