Custom-textarea
{
	& > Div > Textarea
	{
		Display: Block;
		Font-family: Var(--Font-UI);
		Resize: None;
		Border: None;

		&:focus
		{
			Outline: None;
		}
	}



	&:not(.Roomy) > Div > Textarea
	{
		Width: unquote("Calc(100% - 20px)");
		Height: unquote("Calc(Var(--ContentHeight) - 20px)");
		Padding: 10px;
	}

	&.Roomy > Div > Textarea
	{
		Width: unquote("Calc(100% - 40px)");
		Height: unquote("Calc(Var(--ContentHeight) - 40px)");
		Padding: 20px;
	}



	&:not([ReadOnly]) > Div
	{
		& > Textarea
		{
			Border-radius: Var(--Border) Var(--Border) 0 0;
			Background: Var(--Gray-5);
			Border-bottom: 1px Solid Var(--Gray-20);
		}

		&::after
		{
			Display: Block;
			Content: '';
			Border-top: 2px solid Var(--Main-UI);
			Transform: ScaleX(0) TranslateY(-1px) ;
			Transition: Transform 250ms;
		}

		&:focus-within::after
		{
			Transform: ScaleX(1) TranslateY(-1px);
		}
	}

	&[ReadOnly] > Div > Textarea
	{
		Border-radius: Var(--Border);
		Background: Var(--Gray-10);
	}
}