Custom-textarea
{
	&:not(.Roomy) > Div > Textarea
	{
		Padding: 10px;
	}

	&.Roomy > Div > Textarea
	{
		Padding: 20px;
	}

	& > Div
	{
		& > Textarea
		{
			Display: Block;
			Font-family: Var(--Font-UI);
			Width: unquote("Calc(100% - 20px)");
			Resize: None;
			Border-radius: 5px 5px 0 0;
			Background: Var(--Gray-5);
			Border: None;



			&:not([ReadOnly])
			{
				Border-bottom: 1px Solid Var(--Gray-20);
			}

			&[ReadOnly]
			{
				Cursor: Default;
				Border-radius: 5px;
				Background: Var(--Gray-10);
			}

			&:focus
			{
				Outline: None;
			}
		}

		&::after
		{
			Display: Block;
			Content: '';
			Border-top: 2px solid Var(--Main-UI);
			Transform: TranslateY(-1px) ScaleX(0);
			Transition: Transform 250ms;
		}

		&:focus-within::after
		{
			Transform: TranslateY(-1px) ScaleX(1);
		}
	}
}